* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1a1a;
  font-family: sans-serif;
}

.opacity {
  font-size: 80px;
  font-weight: bolder;
  position: absolute;
  color: #363636;
  margin-left: 450px;
  margin-top: -100px;
  opacity: 50%;
}

.top {
  /* margin-bottom: 20px; */
  color: #fff;
  font-size: 50px;
  position: absolute;
  margin-left: 420px;
  margin-top: -85px;
}

.top span {
  color: #ffb400;
  font-size: 50px;
}

.about-container {
  margin-top: 130px;
}

/* IMAGES SETTING */

.image-box {
  width: 400px;
  margin-left: 150px;
  /* margin: auto; */
  display: flex;
}

.image1-3 img {
  padding: 5px;
}

.image4-6 img {
  padding: 5px;
}
.image7-9 img {
  padding: 5px;
}

/* SPINNING SETTINGS */

.infinity {
  position: absolute;
  border: none;
  padding: 7px 14px;
  border-radius: 4px;
  background-color: #fff;
  top: 40%;
  position: fixed;
}

.infinity svg {
  background-color: #fff;
  animation: spin 3s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ICONS */

.right {
  margin-top: -150px;
  margin-right: 15px;
}

.right .icon1 {
  border: none;
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  border-radius: 55%;
  background-color: #3c3c3c52;
  color: #fff;
  margin-top: 5px;
}

.icon1 a {
  color: #fff;
  background-color: #3c3c3c52;
}

.icon1 svg {
  margin-top: 3px;
  background-color: #3c3c3c52;
}

.right .icon2 {
  border: none;
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  border-radius: 55%;
  background-color: #3c3c3c52;
  color: #fff;
  margin-top: 5px;
}

.icon2 a {
  color: #fff;
  background-color: #3c3c3c52;
}

.icon2 svg {
  margin-top: 3px;
  background-color: #3c3c3c52;
}
/*  */

.right .icon3 {
  border: none;
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  border-radius: 55%;
  background-color: #ffb400;
  color: #fff;
  margin-top: 5px;
}

.icon3 a {
  color: #fff;
  background-color: #ffb400;
}

.icon3 svg {
  margin-top: 3px;
  background-color: #ffb400;
}

.right .icon4 {
  border: none;
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  border-radius: 55%;
  background-color: #3c3c3c52;
  color: #fff;
  margin-top: 5px;
}

.icon4 a {
  color: #fff;
  background-color: #3c3c3c52;
}

.icon4 svg {
  margin-top: 3px;
  background-color: #3c3c3c52;
}

.right .icon5 {
  border: none;
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  border-radius: 55%;
  background-color: #3c3c3c52;
  color: #fff;
  margin-top: 5px;
}

.icon5 a {
  color: #fff;
  background-color: #3c3c3c52;
}

.icon5 svg {
  margin-top: 3px;
  background-color: #3c3c3c52;
}

.middle-everything {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  /* border: 2px solid #fff; */
  width: 150px;
  height: 100vh;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
nav ul li a {
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  padding: 0 12px;
  gap: 12px;
  overflow: hidden;
  transition: width 0.3s;
}

nav ul li a i {
  font-size: 18px;
}

nav ul li a p {
  font-size: 14px;
}

ul li a:hover {
  width: fit-content;
  overflow: visible;
  background-color: #ffb400;
}
