* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1b1a1a;
}

/* PROFILE PHOTO */

.container {
  background-color: #1b1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  position: relative;
}

/* .yellow-block {
  border: 20px solid #ffb400;
  width: 50%;
  background-color: #ffb400;
} */
.profile-photo {
  width: 400px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.profile-photo img {
  /* height: calc(100vh - 60px); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

.skew {
  position: absolute;
  width: 1000px;
  height: 100%;
  transform: skew(20deg);
  background-color: goldenrod;
  left: -750px;
}

.infinity {
  border: none;
  padding: 7px 14px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 30%;
  position: fixed;
}

.infinity svg {
  background-color: #fff;
  animation: spin 3s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* WRITE-UP - MY INTRODUCTION */

.middle {
  color: #fff;
}

.middle h4,
h1 {
  margin-bottom: 10px;
}

.middle h4 {
  font-weight: 400;
}

.middle span {
  color: #ffb400;
}

.middle p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 16px;
}

.middle button {
  border: none;
  padding: 15px 30px;
  border-radius: 14px;
  background-color: #ffb400;
}

.middle button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* ICONS */

.right {
  border: 2px solid#fff;
  width: 150px;
  height: 100vh;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* position: fixed; */
}

.right .icon1 a {
  border: none;
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  border-radius: 55%;
  background-color: #ffb400;
  color: #fff;
  margin-top: 5px;
}

.icon1 a {
  color: #fff;
}

.icon1 svg {
  margin-top: 3px;
  margin-right: 30px;
}

.right .icon2 {
  border: none;
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  border-radius: 55%;
  background-color: #3c3c3c52;
  color: #fff;
  margin-top: 5px;
}

.icon2 a {
  color: #fff;
}

.icon2 svg {
  margin-top: 3px;
}

.right .icon3 {
  border: none;
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  border-radius: 55%;
  background-color: #3c3c3c52;
  color: #fff;
  margin-top: 5px;
}

.icon3 a {
  color: #fff;
}

.icon3 svg {
  margin-top: 3px;
}

.right .icon4 {
  border: none;
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  border-radius: 55%;
  background-color: #3c3c3c52;
  color: #fff;
  margin-top: 5px;
}

.icon4 a {
  color: #fff;
}

.icon4 svg {
  margin-top: 3px;
}

.right .icon5 {
  border: none;
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  border-radius: 55%;
  background-color: #3c3c3c52;
  color: #fff;
  margin-top: 5px;
}

.icon5 a {
  color: #fff;
}

.icon5 svg {
  margin-top: 3px;
}

/* ICON HOVER */

nav {
  /* border: 2px solid #fff; */
  width: 150px;
  height: 100vh;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
nav ul li a {
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  padding: 0 11px;
  gap: 12px;
  overflow: hidden;
  transition: width 0.3s;
}

nav ul li a i {
  font-size: 18px;
}

nav ul li a p {
  font-size: 14px;
}

ul li a:hover {
  width: fit-content;
  overflow: visible;
  background-color: #ffb400;
}
